<div>
  <h2>New Task</h2>

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title" placeholder="Task title" />
      @if (taskForm.get('title')?.invalid && taskForm.get('title')?.touched) {
        <p> Title is required </p>
      }
    </div>

    <div>
      <label for="tags">Tags</label>
      <input id="tags" type="text" formControlName="tags" placeholder="e.g. Work, Personal, Urgent" />
      @if (taskForm.get('tags')?.invalid && taskForm.get('tags')?.touched) {
        <p>At least one tag is required</p>
      }
    </div>

    <button type="button" (click)="onCancel()">Cancel</button>
    <button type="button" (click)="onSubmit()">Submit</button>
  </form>
</div>
